/*SEARCH*/
.search {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.search__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--second-color);
}

.search__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--second-color);
}

.search__list {
    display: flex;
    flex-direction: column;
}

.search__element {
    width: 100%;
}

.searched {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 8px 0;
}

.searched__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.searched__text {
    flex: 1 1 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--second-color);
}

.searched__user {
    font-weight: 600;
    display: inline;
    text-decoration: none;
    color: var(--second-color);
    transition: color 400ms ease;
    cursor: pointer;
}

.searched__user:hover {
    color: var(--main-color);
}

.searched__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.search__field {
    width: 100%;
    position: relative;
}

.search__input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 300;
    background-color: var(--fifth-color);
}

.search__clear {
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 15C11.6426 15 15 11.6426 15 7.5C15 3.35742 11.6426 0 7.5 0C3.35742 0 0 3.35742 0 7.5C0 11.6426 3.35742 15 7.5 15ZM4.89258 4.89258C5.16797 4.61719 5.61328 4.61719 5.88574 4.89258L7.49707 6.50391L9.1084 4.89258C9.38379 4.61719 9.8291 4.61719 10.1016 4.89258C10.374 5.16797 10.377 5.61328 10.1016 5.88574L8.49023 7.49707L10.1016 9.1084C10.377 9.38379 10.377 9.8291 10.1016 10.1016C9.82617 10.374 9.38086 10.377 9.1084 10.1016L7.49707 8.49023L5.88574 10.1016C5.61035 10.377 5.16504 10.377 4.89258 10.1016C4.62012 9.82617 4.61719 9.38086 4.89258 9.1084L6.50391 7.49707L4.89258 5.88574C4.61719 5.61035 4.61719 5.16504 4.89258 4.89258Z' fill='%23C7C7C7'/%3E%3C/svg%3E%0A");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 400ms ease;
}

.search__clear:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 15C11.6426 15 15 11.6426 15 7.5C15 3.35742 11.6426 0 7.5 0C3.35742 0 0 3.35742 0 7.5C0 11.6426 3.35742 15 7.5 15ZM4.89258 4.89258C5.16797 4.61719 5.61328 4.61719 5.88574 4.89258L7.49707 6.50391L9.1084 4.89258C9.38379 4.61719 9.8291 4.61719 10.1016 4.89258C10.374 5.16797 10.377 5.61328 10.1016 5.88574L8.49023 7.49707L10.1016 9.1084C10.377 9.38379 10.377 9.8291 10.1016 10.1016C9.82617 10.374 9.38086 10.377 9.1084 10.1016L7.49707 8.49023L5.88574 10.1016C5.61035 10.377 5.16504 10.377 4.89258 10.1016C4.62012 9.82617 4.61719 9.38086 4.89258 9.1084L6.50391 7.49707L4.89258 5.88574C4.61719 5.61035 4.61719 5.16504 4.89258 4.89258Z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

/*END SEARCH*/