/*COMMENT-BUTTON*/
.comment-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 19'%3E%3Cpath fill='%23000' d='M16.248 13.36c.462-.809.773-1.688.922-2.59a7.798 7.798 0 0 0-1.073-5.382A7.774 7.774 0 1 0 10.82 17.16a7.772 7.772 0 0 0 2.619-.956.856.856 0 0 1 .664-.087v-.001l2.808.783-.768-2.854a.862.862 0 0 1 .105-.686Zm2.623-2.314a9.524 9.524 0 0 1-.97 2.887l1.07 3.981a.862.862 0 0 1-1.062 1.053l-3.925-1.094a9.49 9.49 0 0 1-9.45-.274A9.505 9.505 0 0 1 .83 5.617 9.493 9.493 0 0 1 5.553.86a9.5 9.5 0 0 1 6.684-.458 9.505 9.505 0 0 1 6.635 10.643Z'/%3E%3C/svg%3E");
    background-size: 19px 19px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
}

.comment-button.comment-button--small {
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}

/*END COMMENT-BUTTON*/