/*STATE-BANNER*/

.state-banner {
    width: 100%;
    padding: 37px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.state-banner__icon {
    width: 80px;
    height: 80px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6925 39.9577C16.3079 39.5731 16.3079 38.9492 16.6925 38.5646C17.0771 38.1801 17.7009 38.1801 18.0855 38.5646L32.3151 52.7943L59.9928 25.1162C60.3773 24.7316 61.0013 24.7316 61.3858 25.1162C61.7704 25.5008 61.7704 26.1247 61.3858 26.5093L33.0116 54.8838C32.627 55.2684 32.0032 55.2684 31.6186 54.8838L16.6925 39.9577ZM40.0001 0C51.0454 0 61.0457 4.47762 68.2842 11.7158C75.5227 18.9543 80 28.9549 80 40.0001C80 51.0454 75.5227 61.0457 68.2842 68.2842C61.0457 75.5224 51.0454 80 40.0001 80C28.9549 80 18.9543 75.5227 11.7158 68.2842C4.47762 61.0457 0 51.0454 0 40.0001C0 28.9546 4.47729 18.9543 11.7158 11.7158C18.9543 4.47729 28.9546 0 40.0001 0ZM66.8912 13.1089C60.0095 6.22757 50.5017 1.97052 40.0001 1.97052C29.4983 1.97052 19.9905 6.22724 13.1089 13.1089C6.22724 19.9905 1.97052 29.4983 1.97052 40.0001C1.97052 50.5017 6.22757 60.0095 13.1089 66.8912C19.9905 73.7728 29.4986 78.0294 40.0001 78.0294C50.5017 78.0294 60.0095 73.7724 66.8912 66.8912C73.7728 60.0095 78.0294 50.5017 78.0294 40.0001C78.0294 29.4986 73.7728 19.9905 66.8912 13.1089Z' fill='url(%23paint0_linear_10134_377)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_10134_377' x1='2.37271' y1='25.6332' x2='77.627' y2='54.3666' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFC56'/%3E%3Cstop offset='0.4' stop-color='%23FF8046'/%3E%3Cstop offset='0.670588' stop-color='%23F33583'/%3E%3Cstop offset='1' stop-color='%239E45FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.state-banner.state-banner--empty-state .state-banner__icon {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 0C51.0454 0 61.0456 4.47766 68.2842 11.7159C75.5228 18.9544 80 28.955 80 40C80 51.0454 75.5228 61.0456 68.2842 68.2842C61.0456 75.5224 51.0454 80 40 80C28.955 80 18.9544 75.5228 11.7159 68.2842C4.47766 61.0456 0 51.0454 0 40C0 28.9547 4.47726 18.9544 11.7159 11.7159C18.9544 4.47726 28.9547 0 40 0ZM19.6207 21.0221L38.5982 40L19.6203 58.9779C19.236 59.3622 19.2345 59.9938 19.62 60.3797C20.0055 60.7652 20.6378 60.7641 21.0221 60.3793L40 41.4015L58.9779 60.3797C59.3626 60.7641 59.9942 60.7656 60.3797 60.3801C60.7652 59.9945 60.7641 59.3622 60.3797 58.9779L41.4018 40L60.3797 21.0221C60.7641 20.6374 60.7656 20.0058 60.3801 19.6203C59.9945 19.2348 59.3622 19.236 58.9779 19.6203L40 38.5982L21.0221 19.6203C20.6378 19.236 20.0062 19.2345 19.6203 19.62C19.2348 20.0055 19.236 20.6378 19.6207 21.0221ZM66.8914 13.109C60.0097 6.22756 50.5019 1.97029 40 1.97029C29.4981 1.97029 19.9904 6.22716 13.109 13.109C6.22716 19.9904 1.97029 29.4981 1.97029 40C1.97029 50.5019 6.22756 60.0097 13.109 66.8914C19.9904 73.7728 29.4985 78.0294 40 78.0294C50.5019 78.0294 60.0097 73.7724 66.8914 66.8914C73.7728 60.0097 78.0294 50.5019 78.0294 40C78.0294 29.4985 73.7728 19.9904 66.8914 13.109Z' fill='%23D0D0D0'/%3E%3C/svg%3E%0A");
}


.state-banner__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    color: var(--second-color);
}

.state-banner__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--third-color);
}

/*END STATE-BANNER*/