/*VIEW-POST*/
.view-post {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-post__content {
    position: relative;
    font-family: "Roboto", sans-serif;
    display: flex;
    width: 1000px;
    min-height: 200px;
    background-color: #FFF;
    overflow: auto;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

.view-post__image-container {
    width: 55%;
    height: auto;
    overflow: auto;
    flex-shrink: 0;
}

.view-post__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.view-post__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--fourth-color);
}

.view-post__header {
    padding: 8px 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--fourth-color);
}

.view-post__autor {
    display: flex;
    gap: 8px;
    align-items: center;
}

.view-post__autor-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 2px;
    position: relative;
}

.view-post__autor-avatar::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 195, 0, 1) 0%, rgba(255, 63, 51, 1) 50%, rgba(211, 0, 197, 1) 100%), #FFC300;
    border-radius: 50%;
}

.view-post__autor-avatar-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #FFF;
    aspect-ratio: 36 / 36;
}

.view-post__autor-avatar-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.view-post__autor-title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: var(--second-color);
    margin-left: 2px;
    text-decoration: none;
    transition: color 400ms ease;
    cursor: pointer;
}

.view-post__autor-title:hover {
    color: var(--main-color);
}

.view-post__autor-follow {
    display: flex;
    align-items: center;
}

.view-post__autor-follow::before {
    content: '• ';
    display: inline-block;
    color: var(--second-color);
    margin-right: 8px;
}

.view-post__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: var(--second-color);
    background-color: #FFF;
    transition: background-color 400ms ease;
    cursor: pointer;
}

.view-post__menu-btn::before {
    content: '';
    display: block;
    width: 22px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8439 11.694C11.5459 11.694 12.115 11.1249 12.115 10.4229C12.115 9.72083 11.5459 9.15172 10.8439 9.15172C10.1419 9.15172 9.57275 9.72083 9.57275 10.4229C9.57275 11.1249 10.1419 11.694 10.8439 11.694Z' fill='black'/%3E%3Cpath d='M5.75942 11.694C6.46146 11.694 7.03056 11.1249 7.03056 10.4229C7.03056 9.72083 6.46146 9.15172 5.75942 9.15172C5.05739 9.15172 4.48828 9.72083 4.48828 10.4229C4.48828 11.1249 5.05739 11.694 5.75942 11.694Z' fill='black'/%3E%3Cpath d='M15.9284 11.694C16.6304 11.694 17.1995 11.1249 17.1995 10.4229C17.1995 9.72083 16.6304 9.15172 15.9284 9.15172C15.2263 9.15172 14.6572 9.72083 14.6572 10.4229C14.6572 11.1249 15.2263 11.694 15.9284 11.694Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.view-post__menu-btn:hover {
    background-color: var(--fifth-color);
}

.view-post__comments {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.view-post__comments-list {
    flex: 1 1 auto;
    overflow: auto;
    max-height: 520px;
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}





.view-post__comments-actions {
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid var(--fifth-color);
    flex-shrink: 0;
}

.view-post__comments-buttons {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    gap: 14px;
}

.view-post__comments-likes {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: var(--second-color);
}

.view-post__comments-time {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: var(--third-color);
}

.view-post__comments-form {
    width: 100%;
    height: 45px;
    border-top: 1px solid var(--fourth-color);
    position: relative;
    flex-shrink: 0;
}

.view-post__comments-form-input {
    width: 100%;
    height: 100%;
    padding: 0 105px 0 48px;
    font-size: 12px;
    border: none;
    outline: none;
}

.view-post__comments-form-smile {
    width: 21px;
    height: 20px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6795 9.11663C13.484 9.11663 13.2928 9.17463 13.1301 9.2833C12.9675 9.39196 12.8407 9.54642 12.7659 9.72712C12.691 9.90783 12.6714 10.1067 12.7096 10.2985C12.7478 10.4903 12.842 10.6666 12.9803 10.8049C13.1186 10.9432 13.2948 11.0374 13.4866 11.0755C13.6785 11.1137 13.8773 11.0941 14.058 11.0192C14.2387 10.9444 14.3932 10.8176 14.5018 10.655C14.6105 10.4924 14.6685 10.3012 14.6685 10.1056C14.6685 9.84329 14.5643 9.59175 14.3788 9.40629C14.1934 9.22082 13.9418 9.11663 13.6795 9.11663ZM8.17127 10.1056C8.17127 9.90995 8.11325 9.71871 8.00454 9.55606C7.89584 9.39341 7.74133 9.26665 7.56058 9.19183C7.37982 9.117 7.18093 9.09747 6.98907 9.13569C6.79721 9.17392 6.621 9.2682 6.48273 9.40659C6.34446 9.54498 6.25033 9.72127 6.21227 9.91316C6.17421 10.1051 6.19391 10.3039 6.26889 10.4846C6.34388 10.6653 6.47076 10.8197 6.63351 10.9283C6.79625 11.0368 6.98754 11.0947 7.18317 11.0945C7.44531 11.0943 7.69663 10.99 7.88191 10.8046C8.06719 10.6191 8.17127 10.3677 8.17127 10.1056ZM12.5465 12.8512C12.2769 13.1412 11.9504 13.3727 11.5875 13.5311C11.2245 13.6895 10.8329 13.7715 10.4369 13.7721C10.0409 13.7726 9.649 13.6917 9.28562 13.5343C8.92224 13.3769 8.59513 13.1464 8.32465 12.8572C8.18351 12.6822 7.97864 12.5705 7.75511 12.5466C7.53159 12.5226 7.30772 12.5885 7.13275 12.7296C6.95778 12.8708 6.84604 13.0757 6.82212 13.2992C6.79821 13.5227 6.86406 13.7466 7.00521 13.9215C7.43438 14.4074 7.96195 14.7965 8.55292 15.063C9.14389 15.3295 9.78477 15.4673 10.4331 15.4673C11.0813 15.4673 11.7222 15.3295 12.3132 15.063C12.9042 14.7965 13.4317 14.4074 13.8609 13.9215C13.9965 13.7467 14.0583 13.5259 14.0332 13.3061C14.0081 13.0863 13.898 12.885 13.7265 12.7453C13.555 12.6056 13.3357 12.5384 13.1154 12.5582C12.8951 12.578 12.6912 12.6832 12.5474 12.8512H12.5465ZM10.4339 0.223722C8.50644 0.223722 6.62226 0.795281 5.01964 1.86612C3.41701 2.93696 2.16791 4.45899 1.43031 6.23973C0.692699 8.02047 0.499707 9.97995 0.875736 11.8704C1.25177 13.7608 2.17993 15.4973 3.54285 16.8602C4.90577 18.2231 6.64224 19.1513 8.53266 19.5273C10.4231 19.9033 12.3826 19.7103 14.1633 18.9727C15.9441 18.2351 17.4661 16.986 18.5369 15.3834C19.6078 13.7808 20.1793 11.8966 20.1793 9.96914C20.1764 7.38539 19.1487 4.9083 17.3217 3.08131C15.4947 1.25432 13.0177 0.226638 10.4339 0.223722ZM10.4339 18.0197C8.84165 18.0197 7.28516 17.5475 5.96125 16.6629C4.63734 15.7783 3.60548 14.521 2.99615 13.05C2.38682 11.5789 2.22739 9.96021 2.53803 8.39855C2.84866 6.8369 3.6154 5.40243 4.74129 4.27653C5.86718 3.15064 7.30166 2.3839 8.86331 2.07327C10.425 1.76263 12.0437 1.92206 13.5147 2.53139C14.9858 3.14072 16.2431 4.17258 17.1277 5.49649C18.0123 6.8204 18.4845 8.37689 18.4845 9.96914C18.4822 12.1036 17.6333 14.15 16.124 15.6593C14.6147 17.1686 12.5684 18.0175 10.4339 18.0197Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: 21px 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    position: absolute;
    top: calc(50% - 10px);
    left: 14px;
}

.view-post__comments-form-submit {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    padding: 0px 10px;
    color: var(--main-color);
    text-decoration: none;
    transition: color 400ms;
    position: absolute;
    top: calc(50% - 6px);
    right: 14px;
}

.view-post__comments-form-submit:hover {
    color: var(--second-color);
}

@media (max-width: 768px) {
    .view-post__content {
        flex-direction: column;
        width: auto;
    }

    .view-post__image-container {
        width: 100%;
    }
}

/*END VIEW-POST*/