:root {
    --main-color: #0095F6;
    --second-color: #000;
    --third-color: #737373;
    --fourth-color: #DBDBDB;
    --fifth-color: #EFEFEF;
    --sixth-color: #00376B;
    --seventh-color: #4D00FF;
}