/*SIDEBAR*/
.sidebar {
    width: 245px;
    border-right: 1px solid var(--fourth-color);
    flex-shrink: 0;
}

.sidebar__container {
    position: sticky;
    top: 0px;
}

.sidebar__logo-container {
    padding: 48px 24px;
}

/*END SIDEBAR*/


.sidebar__logo {
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    width: 90px;
    height: 20px;
    transition: all .3s;
}

.sidebar__logo svg {
    width: 100%;
}

.sidebar__logo:hover {
    transform: translateY(-3px);
}


/*MENU*/
.menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
    overflow: auto;
}

.menu__item {
    display: block;
}

.menu__item:nth-last-child(2) {
    margin-top: 50px;
}

.menu__item-link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px 24px;
    text-decoration: none;
    color: var(--second-color);
    width: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.menu__item-link:hover {
    background-color: var(--fifth-color);
}

.menu__item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.menu__item-link.active .menu__item-text {
    font-weight: bold;
}

.menu__item-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__item-icon.menu__item-icon--home {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.005 15.545C8.005 14.7501 8.32075 13.9878 8.8828 13.4258C9.44485 12.8638 10.2071 12.548 11.002 12.548C11.3957 12.5479 11.7855 12.6253 12.1492 12.7758C12.5129 12.9264 12.8434 13.1471 13.1218 13.4254C13.4002 13.7038 13.6211 14.0342 13.7718 14.3979C13.9224 14.7615 14 15.1513 14 15.545V21H21V10.543L11 1L1 10.543V21H8.005V15.545Z' stroke='black' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.menu__item-link.active .menu__item-icon.menu__item-icon--home {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 22.0001H14.999C14.7338 22.0001 14.4794 21.8947 14.2919 21.7072C14.1044 21.5196 13.999 21.2653 13.999 21.0001V15.5451C14.0063 15.1469 13.9341 14.7514 13.7868 14.3814C13.6395 14.0115 13.4199 13.6747 13.141 13.3906C12.862 13.1064 12.5292 12.8808 12.162 12.7267C11.7949 12.5727 11.4007 12.4933 11.0025 12.4933C10.6043 12.4933 10.2101 12.5727 9.84297 12.7267C9.4758 12.8808 9.14301 13.1064 8.86403 13.3906C8.58506 13.6747 8.3655 14.0115 8.21818 14.3814C8.07086 14.7514 7.99873 15.1469 8.006 15.5451V21.0001C8.006 21.2653 7.90064 21.5196 7.71311 21.7072C7.52557 21.8947 7.27122 22.0001 7.006 22.0001H1C0.734784 22.0001 0.48043 21.8947 0.292893 21.7072C0.105357 21.5196 0 21.2653 0 21.0001V10.5431C8.99233e-05 10.4077 0.0276051 10.2738 0.0808849 10.1493C0.134165 10.0249 0.212104 9.91254 0.31 9.81905L10.31 0.276054C10.4961 0.0989914 10.7431 0.000244141 11 0.000244141C11.2569 0.000244141 11.5039 0.0989914 11.69 0.276054L21.69 9.81905C21.7879 9.91254 21.8658 10.0249 21.9191 10.1493C21.9724 10.2738 21.9999 10.4077 22 10.5431V21.0001C22 21.2653 21.8946 21.5196 21.7071 21.7072C21.5196 21.8947 21.2652 22.0001 21 22.0001Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-icon.menu__item-icon--search {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 10.5C19 12.1811 18.5015 13.8245 17.5675 15.2223C16.6335 16.6202 15.306 17.7096 13.7528 18.353C12.1996 18.9963 10.4906 19.1647 8.84174 18.8367C7.1929 18.5087 5.67834 17.6992 4.4896 16.5104C3.30085 15.3217 2.4913 13.8071 2.16333 12.1583C1.83535 10.5094 2.00368 8.80036 2.64703 7.24719C3.29037 5.69402 4.37984 4.3665 5.77766 3.43251C7.17547 2.49852 8.81886 2 10.5 2C12.7543 2 14.9164 2.89553 16.5104 4.48959C18.1045 6.08365 19 8.24566 19 10.5Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.511 16.511L22 22' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.menu__item-link.active .menu__item-icon.menu__item-icon--search {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 10.5C19 12.1811 18.5015 13.8245 17.5675 15.2223C16.6335 16.6202 15.306 17.7096 13.7528 18.353C12.1996 18.9963 10.4906 19.1646 8.84174 18.8367C7.1929 18.5087 5.67834 17.6992 4.4896 16.5104C3.30085 15.3217 2.4913 13.8071 2.16333 12.1583C1.83535 10.5094 2.00368 8.80036 2.64703 7.24719C3.29037 5.69402 4.37984 4.3665 5.77766 3.43251C7.17548 2.49852 8.81886 2 10.5 2C12.7543 2 14.9164 2.89553 16.5104 4.48959C18.1045 6.08365 19 8.24566 19 10.5Z' fill='black' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.511 16.511L22 22' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.menu__item-icon.menu__item-icon--explore {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3996 15.0026L7.76329 17.5813C7.2274 17.7884 6.62499 17.5219 6.41789 16.986C6.32076 16.7351 6.32794 16.469 6.41789 16.2358L9.00477 9.59108C9.11475 9.30688 9.33583 9.09826 9.59962 8.99622L16.2363 6.41799C16.7718 6.21088 17.3743 6.4777 17.5814 7.01323C17.6785 7.26417 17.6713 7.53023 17.5814 7.76342L14.9945 14.4078C14.8845 14.692 14.6634 14.9006 14.3996 15.0026ZM10.7787 10.7702L13.2254 13.2169L14.7843 9.21391L10.7787 10.7702ZM12.0002 21.9131C14.7375 21.9131 17.2159 20.8031 19.0095 19.0094C20.8031 17.2162 21.9131 14.737 21.9131 12C21.9131 9.26266 20.8031 6.7842 19.0095 4.99055C17.2163 3.1969 14.7371 2.0873 12.0002 2.0873C9.26289 2.0873 6.7841 3.19728 4.99047 4.99055C3.19685 6.7842 2.08727 9.26266 2.08727 12C2.08727 14.737 3.19685 17.2158 4.99047 19.0094C6.7841 20.8027 9.26289 21.9131 12.0002 21.9131ZM20.4853 20.4853C18.3141 22.6565 15.3138 24 12.0002 24C8.68694 24 5.68623 22.6565 3.51468 20.4853C1.34352 18.3141 0 15.3133 0 12C0 8.6867 1.34352 5.68594 3.51468 3.51474C5.68623 1.34354 8.68694 0 12.0002 0C15.3134 0 18.3141 1.34316 20.4853 3.51474C22.6565 5.68594 24 8.6867 24 12C24 15.3133 22.6569 18.3141 20.4853 20.4853Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-link.active .menu__item-icon.menu__item-icon--explore {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.4852 20.4851C18.3138 22.6566 15.3138 24 12 24C8.68675 24 5.6862 22.6566 3.51479 20.4851C1.34392 18.3142 0 15.3131 0 11.9997C0 8.6864 1.34392 5.68578 3.51479 3.51487C5.6862 1.34395 8.68675 0 12 0C15.3133 0 18.3138 1.3434 20.4852 3.51487C22.6561 5.68578 24 8.6864 24 11.9997C24 15.3131 22.6566 18.3142 20.4852 20.4851ZM14.3992 15.0025L7.76287 17.5815C7.22727 17.7885 6.62486 17.5218 6.41785 16.9861C6.32092 16.7348 6.32804 16.4692 6.41785 16.2359L9.00438 9.59113C9.11446 9.30689 9.33571 9.09824 9.59967 8.99637L16.236 6.418C16.7716 6.21098 17.374 6.47769 17.5811 7.0133C17.6785 7.26413 17.6714 7.53029 17.5811 7.76305L14.9945 14.4078C14.8844 14.692 14.6632 14.9007 14.3992 15.0025ZM10.7788 10.7702L13.2251 13.2172L14.7842 9.21379L10.7788 10.7702Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-icon.menu__item-icon--messages {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.003 2.00098C13.303 1.95924 14.5981 2.17924 15.8115 2.64792C17.0248 3.11661 18.1315 3.8244 19.0659 4.72925C20.0003 5.63411 20.7432 6.71755 21.2506 7.91521C21.758 9.11286 22.0194 10.4003 22.0194 11.701C22.0194 13.0017 21.758 14.2891 21.2506 15.4868C20.7432 16.6844 20.0003 17.7679 19.0659 18.6727C18.1315 19.5776 17.0248 20.2854 15.8115 20.754C14.5981 21.2227 13.303 21.4427 12.003 21.401C11.0251 21.4037 10.0513 21.2745 9.10796 21.017C8.93097 20.9687 8.74274 20.9828 8.57496 21.057L6.59096 21.933C6.47099 21.9857 6.33992 22.0082 6.20923 21.9985C6.07854 21.9888 5.95223 21.9472 5.84137 21.8773C5.73052 21.8074 5.6385 21.7114 5.5734 21.5977C5.50829 21.4839 5.47209 21.356 5.46796 21.225L5.41396 19.445C5.40945 19.3369 5.38322 19.2308 5.33683 19.133C5.29045 19.0353 5.22485 18.9478 5.14396 18.876C4.14013 17.9723 3.34075 16.8649 2.79926 15.6275C2.25776 14.3902 1.98662 13.0515 2.00396 11.701C1.99636 10.3995 2.25209 9.10999 2.75579 7.90993C3.25948 6.70987 4.00071 5.6241 4.9349 4.71794C5.86909 3.81178 6.97693 3.10395 8.19177 2.63703C9.4066 2.17011 10.7023 1.95376 12.003 2.00098Z' stroke='black' stroke-width='1.739' stroke-miterlimit='10'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.79 10.132C17.8735 10.0008 17.908 9.8444 17.8873 9.6903C17.8667 9.5362 17.7922 9.39437 17.677 9.28989C17.5619 9.1854 17.4135 9.12499 17.2582 9.11933C17.1028 9.11368 16.9504 9.16314 16.828 9.25897L14.272 11.309C14.163 11.3915 14.03 11.4364 13.8933 11.4367C13.7566 11.4371 13.6234 11.3929 13.514 11.311L11.06 9.46998C10.8859 9.33963 10.6867 9.24673 10.4749 9.19712C10.2632 9.14752 10.0434 9.14227 9.82957 9.18172C9.61569 9.22117 9.41229 9.30446 9.23217 9.42635C9.05206 9.54824 8.89911 9.7061 8.78297 9.88998L6.21597 13.87C6.13169 14.001 6.09655 14.1576 6.11679 14.3121C6.13703 14.4666 6.21134 14.6089 6.32654 14.7138C6.44173 14.8187 6.59036 14.8793 6.74604 14.8851C6.90173 14.8908 7.0544 14.8411 7.17697 14.745L9.73297 12.696C9.84208 12.6132 9.97518 12.5682 10.1121 12.5678C10.2491 12.5675 10.3824 12.6118 10.492 12.694L12.944 14.534C13.1181 14.6645 13.3174 14.7575 13.5292 14.8072C13.7411 14.8569 13.9609 14.8622 14.1749 14.8228C14.3889 14.7833 14.5924 14.7 14.7727 14.578C14.9529 14.456 15.1058 14.298 15.222 14.114L17.79 10.132Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-link.active .menu__item-icon.menu__item-icon--messages {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' fill='none'/%3E%3Cpath d='M12.003 2.00098C13.303 1.95924 14.5981 2.17924 15.8115 2.64792C17.0248 3.11661 18.1315 3.8244 19.0659 4.72925C20.0003 5.63411 20.7432 6.71755 21.2506 7.91521C21.758 9.11286 22.0194 10.4003 22.0194 11.701C22.0194 13.0017 21.758 14.2891 21.2506 15.4868C20.7432 16.6844 20.0003 17.7679 19.0659 18.6727C18.1315 19.5776 17.0248 20.2854 15.8115 20.754C14.5981 21.2227 13.303 21.4427 12.003 21.401C11.0251 21.4037 10.0513 21.2745 9.10796 21.017C8.93097 20.9687 8.74274 20.9828 8.57496 21.057L6.59096 21.933C6.47099 21.9857 6.33992 22.0082 6.20923 21.9985C6.07854 21.9888 5.95223 21.9472 5.84137 21.8773C5.73052 21.8074 5.6385 21.7114 5.5734 21.5977C5.50829 21.4839 5.47209 21.356 5.46796 21.225L5.41396 19.445C5.40945 19.3369 5.38322 19.2308 5.33683 19.133C5.29045 19.0353 5.22485 18.9478 5.14396 18.876C4.14013 17.9724 3.34075 16.8649 2.79926 15.6275C2.25776 14.3902 1.98662 13.0515 2.00396 11.701C1.99636 10.3995 2.25209 9.10999 2.75579 7.90993C3.25948 6.70987 4.00071 5.6241 4.9349 4.71794C5.86909 3.81178 6.97693 3.10395 8.19177 2.63703C9.4066 2.17011 10.7023 1.95376 12.003 2.00098Z' fill='black' stroke='black' stroke-width='1.739' stroke-miterlimit='10'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7901 10.132C17.8736 10.0008 17.9081 9.8444 17.8875 9.6903C17.8668 9.5362 17.7923 9.39437 17.6772 9.28989C17.562 9.1854 17.4137 9.12499 17.2583 9.11933C17.1029 9.11368 16.9505 9.16314 16.8281 9.25897L14.2721 11.309C14.1631 11.3915 14.0302 11.4364 13.8934 11.4367C13.7567 11.4371 13.6235 11.3929 13.5141 11.311L11.0601 9.46998C10.886 9.33963 10.6868 9.24673 10.4751 9.19712C10.2633 9.14752 10.0436 9.14227 9.82969 9.18172C9.61581 9.22117 9.41242 9.30446 9.2323 9.42635C9.05218 9.54824 8.89924 9.7061 8.7831 9.88998L6.2161 13.87C6.13181 14.001 6.09667 14.1576 6.11691 14.3121C6.13716 14.4666 6.21147 14.6089 6.32666 14.7138C6.44185 14.8187 6.59048 14.8793 6.74617 14.8851C6.90185 14.8908 7.05453 14.8411 7.1771 14.745L9.7331 12.696C9.8422 12.6132 9.97531 12.5682 10.1123 12.5678C10.2492 12.5675 10.3826 12.6118 10.4921 12.694L12.9441 14.534C13.1182 14.6645 13.3175 14.7575 13.5293 14.8072C13.7412 14.8569 13.9611 14.8622 14.1751 14.8228C14.3891 14.7833 14.5926 14.7 14.7728 14.578C14.953 14.456 15.106 14.298 15.2221 14.114L17.7901 10.132Z' fill='none'/%3E%3C/svg%3E%0A");
}

.menu__item-icon.menu__item-icon--notifications {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2961 4.00309C17.6105 4.07576 18.8429 4.665 19.7248 5.6424C20.6067 6.6198 21.0665 7.90614 21.0041 9.22109C21.0041 12.2931 18.3521 14.1801 15.8071 16.4431C13.2951 18.6861 11.9421 19.9121 11.5041 20.1951C11.0271 19.8861 9.36107 18.3721 7.20107 16.4431C4.64507 14.1711 2.00407 12.2661 2.00407 9.22109C1.94164 7.90614 2.40146 6.6198 3.28333 5.6424C4.1652 4.665 5.39764 4.07576 6.71207 4.00309C7.44022 3.98103 8.16163 4.14828 8.80578 4.48849C9.44994 4.82871 9.99479 5.33026 10.3871 5.94409C11.2271 7.11909 11.3671 7.70709 11.5071 7.70709C11.6471 7.70709 11.7851 7.11909 12.6171 5.94109C13.0071 5.32442 13.5522 4.82089 14.1978 4.48081C14.8434 4.14073 15.5669 3.976 16.2961 4.00309ZM16.2961 2.00309C15.388 1.97402 14.4851 2.15018 13.6545 2.51844C12.824 2.88671 12.0872 3.4376 11.4991 4.13009C10.9114 3.43962 10.1762 2.89 9.34762 2.52185C8.51905 2.15369 7.61835 1.97641 6.71207 2.00309C4.86694 2.07525 3.12545 2.87508 1.86841 4.22769C0.611371 5.5803 -0.0589338 7.37563 0.00407174 9.22109C0.00407174 12.8311 2.55407 15.0481 5.01907 17.1911C5.30207 17.4371 5.58807 17.6851 5.87207 17.9381L6.89907 18.8561C8.01911 19.9219 9.19334 20.9292 10.4171 21.8741C10.7409 22.0837 11.1183 22.1953 11.5041 22.1953C11.8898 22.1953 12.2673 22.0837 12.5911 21.8741C13.8538 20.9004 15.0641 19.8606 16.2171 18.7591L17.1391 17.9351C17.4321 17.6751 17.7291 17.4161 18.0241 17.1611C20.3581 15.1361 23.0041 12.8411 23.0041 9.22109C23.0671 7.37563 22.3968 5.5803 21.1397 4.22769C19.8827 2.87508 18.1412 2.07525 16.2961 2.00309Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-link.active .menu__item-icon.menu__item-icon--notifications {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2391 2.00345C15.3342 1.9745 14.4343 2.149 13.6069 2.51341C12.7789 2.87834 12.045 3.42389 11.4589 4.10993C10.8733 3.42601 10.1408 2.88153 9.31465 2.51686C8.48909 2.15246 7.59162 1.97689 6.68855 2.00345C4.8498 2.0749 3.11421 2.86692 1.86182 4.20635C0.609171 5.54604 -0.0589813 7.32397 0.00409226 9.1513C0.00409226 12.7266 2.54521 14.9223 5.0016 17.0444C5.28329 17.288 5.56846 17.5337 5.85149 17.7841L6.87483 18.6933C7.99091 19.7488 9.16098 20.7461 10.3805 21.6818C10.7033 21.8898 11.0794 22 11.4637 22C11.848 22 12.2243 21.8898 12.5469 21.6818C13.8054 20.7177 15.0113 19.6879 16.1605 18.5969L17.0791 17.7809C17.371 17.5236 17.6671 17.267 17.9611 17.0144C20.2868 15.0094 22.9236 12.7364 22.9236 9.1513C22.9866 7.32397 22.3185 5.54604 21.0658 4.20635C19.8129 2.86692 18.0779 2.0749 16.2391 2.00345Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-icon.menu__item-icon--create {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12V15.45C2 18.299 2.698 19.455 3.606 20.394C4.546 21.303 5.704 22.002 8.552 22.002H15.448C18.296 22.002 19.454 21.302 20.394 20.394C21.302 19.455 22 18.3 22 15.45V8.552C22 5.703 21.302 4.546 20.394 3.607C19.454 2.7 18.296 2 15.448 2H8.552C5.704 2 4.546 2.699 3.606 3.607C2.698 4.547 2 5.703 2 8.552V12Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.545 12.001H17.455' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.003 6.545V17.455' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.menu__item-link.active .menu__item-icon.menu__item-icon--create {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 14.4485V10.9988V7.55111C0 5.99989 0.19955 4.88345 0.528769 4.01158C0.875652 3.09292 1.35162 2.46929 1.88718 1.91573L1.88757 1.91612L1.91475 1.88817C2.46836 1.35265 3.09283 0.876343 4.01196 0.529494C4.88432 0.199919 6.00086 0 7.55184 0H14.448C15.9991 0 17.1161 0.200307 17.988 0.529882C18.9072 0.87712 19.5307 1.35324 20.0853 1.88817L20.0849 1.88836L20.1128 1.91573C20.648 2.46929 21.1242 3.09214 21.4712 4.01119C21.8001 4.88307 22 5.99989 22 7.55111V14.4485C22 16.0003 21.8001 17.1169 21.4712 17.9884C21.1242 18.9075 20.648 19.5299 20.1128 20.0833L20.1124 20.0829L20.0853 20.1109C19.5311 20.646 18.9076 21.1225 17.988 21.4703C17.1161 21.7997 15.9991 22 14.448 22H7.55184C6.00048 22 4.88393 21.7997 4.01196 21.4703C3.09244 21.1229 2.46836 20.6464 1.91475 20.1109L1.89126 20.0874C1.35298 19.5315 0.875652 18.9065 0.528769 17.988C0.19955 17.1162 0 15.9999 0 14.4485ZM10.0029 5.54435C10.0029 4.99234 10.4508 4.54437 11.003 4.54437C11.5553 4.54437 12.0031 4.99234 12.0031 5.54435V10H16.4549C17.0072 10 17.455 10.4478 17.455 11C17.455 11.5522 17.0072 12 16.4549 12H12.0031V16.4533C12.0031 17.0055 11.5553 17.4533 11.003 17.4533C10.4508 17.4533 10.0029 17.0055 10.0029 16.4533V12H5.54489C4.99283 12 4.54481 11.5522 4.54481 11C4.54481 10.4478 4.99283 10 5.54489 10H10.0029V5.54435Z' fill='black'/%3E%3C/svg%3E%0A");
}

.menu__item-icon.menu__item-icon--profile {
    border: 1px solid var(--fourth-color);
    border-radius: 50px;
}

.menu__item-avatar {
    width: 24px;
    height: 24px;
    border: 1px solid var(--fourth-color);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.menu__item-avatar-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.menu__item-icon.menu__item-icon--logout {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8221 8.39477L19.8221 8.39485C19.8351 8.41166 19.8474 8.42898 19.8592 8.44677L19.8596 8.44725C19.8711 8.4647 19.882 8.48263 19.8922 8.50092L19.8924 8.50138C19.9609 8.62417 20 8.76564 20 8.91629C20 9.06691 19.9609 9.2084 19.8924 9.33121L19.8922 9.33165C19.8819 9.34996 19.8711 9.36789 19.8596 9.38534L19.8592 9.38582C19.8475 9.40359 19.8351 9.42092 19.8221 9.43774L19.8221 9.4378C19.7978 9.46925 19.7713 9.49895 19.7428 9.52667L14.1095 15.1613C13.7765 15.4944 13.2365 15.4944 12.9035 15.1613C12.5706 14.8282 12.5706 14.2881 12.9035 13.955L17.0882 9.76938H6.92647C6.45544 9.76938 6.07358 9.38743 6.07358 8.91629C6.07358 8.44516 6.45544 8.06319 6.92647 8.06319H17.0882L13.071 4.045C12.738 3.71193 12.738 3.1718 13.071 2.83873C13.404 2.50567 13.944 2.50567 14.277 2.83873L19.7428 8.30594C19.7712 8.33368 19.7977 8.36334 19.8221 8.39477ZM8.03449 16.2938C8.50553 16.2938 8.88738 16.6758 8.88738 17.1469C8.88738 17.6181 8.50553 18 8.03449 18H4.07636C2.95459 18 1.93529 17.5415 1.1968 16.8029C0.458374 16.0643 0 15.0448 0 13.9227V4.07732C0 2.95521 0.458374 1.93567 1.1968 1.19708C1.93521 0.458483 2.95451 0 4.07636 0H8.03449C8.50553 0 8.88738 0.381948 8.88738 0.853093C8.88738 1.32424 8.50553 1.70619 8.03449 1.70619H4.07636C3.42529 1.70619 2.83282 1.97319 2.40277 2.40334C1.97272 2.83349 1.70578 3.42611 1.70578 4.07732V13.9227C1.70578 14.5739 1.97272 15.1665 2.40277 15.5967C2.83282 16.0268 3.42538 16.2938 4.07636 16.2938H8.03449Z' fill='black'/%3E%3C/svg%3E%0A");
}

@media (max-width: 1280px) {
    .sidebar {
        width: 200px;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 190px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 50px;
    }

    .sidebar__logo-container {
        padding: 15px 12px;
    }

    .menu {
        height: calc(100vh - 50px);
    }

    .menu__item-text {
        display: none;
    }

    .menu__item-link {
        padding: 15px 12px;
    }
}